body{
  width: 480px;
}

header, nav, article, section, footer{
  border: 1px solid rgb(166,166,166);
  text-align: center;
}

header{
  background-color: red;
  width: 480px;
  height: 75px;
  line-height: 75px;
}

nav{
  background-color: green;
  width: 480px;
  height: 150px;
  line-height: 150px;
}

article{
  background-color: forestgreen;
  width: 480px;
  height: 125px;
  line-height: 125px;
}
article:nth-of-type(2){
  background-color: yellow;
}

section{
  background-color: chartreuse;
  float: left;
  width: 240px;
  height: 250px;
  line-height: 250px;
}

section:nth-of-type(2){
  background-color: blanchedalmond;
}

section:nth-of-type(3){
  background-color: darkviolet;
}

section:nth-of-type(4){
  background-color: cornflowerblue;
}

footer{
  background-color: blue;
  width: 480px;
  height: 80px;
  line-height: 80px;
}


@media (min-width: 768px){
  body{
    width: 960px;
    margin: auto;
  }

  header, nav, article, section, footer{
    border: 1px solid rgb(166,166,166);
    text-align: center;
  }

  header{
    background-color: green;
    width: 960px;
    height: 100px;
    line-height: 100px;
  }

  nav{
    background-color: red;
    width: 200px;
    height: 600px;
    line-height: 600px;
    float: left;
  }

  article{
    background-color: lightblue;
    width: 380px;
    height: 200px;
    line-height: 200px;
    float: left;
  }

  article:nth-of-type(2){
    background-color: brown;
  }

  section{
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }

  section:nth-of-type(2){
    background-color: darkblue;
  }

  section:nth-of-type(3){
    background-color: darkcyan;
  }

  section:nth-of-type(4){
    background-color: lightsalmon;
  }

  footer{
    width: 760px;
    height: 150px;
    line-height: 150px;
    float: left;
  }
}
